body{
    background-color: blueviolet;
}
.book-box{
border: 5px solid #fff;
box-sizing:content-box;
padding-bottom: 15px;
width: 600px;
height: 210px;
}
.result-box{
    border: 5px solid #fff;
box-sizing:content-box;
padding-bottom: 15px;
padding-top: 5px;
height: 250px;
}
.book-box button{
    color: aqua;
    background-color: blue;
    width: 90px;
    border-radius: 9px;
    height: 30px;
}